<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Memorial Covid-19</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <style>
  .main {
    background-color: #fffde7;
    text-align: center;
    border-style: groove;
  }
  body{
    background-color: #fff8e1;
  }
  </style>
</head>
<body style="background-image: url('https://www.publicdomainpictures.net/pictures/20000/velka/memorial-wall-wallpaper.jpg'); background-position: center; background-repeat: no-repeat; background-size: 100% 100%">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'principal' %}" >Memorial Covid-19</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'principal' %}" >Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'altaMemorial' %}">Add Memorial</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'publicpage' %}">Public</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
    </ul>
    <form class="form-inline" action="{% url 'searcher' %}" method="POST">
            {% csrf_token %}
            <input class="form-control mr-sm-2" name="input_search" type="search" placeholder="Nombre" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Buscar</button>
          </form>
  </div>
</nav>
<div class="d-flex align-items-center vh-100">

    <!--Tarjeta de formulario de login-->
    <div class="card align-self-center mx-auto text-black col-9 col-lg-3" style=" border-radius: 15px">
                    {% if alarma %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{alarma}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        {% endif %}
    <div class="card-header">Alta de Difunto DEP</div>
            <form action="{% url 'añadirMemorial' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                <label for="nombreDefu">Nombre de Memorial</label>
                    <input type="text" name="nombreDefu" class="form-control" id="nombreDefu" placeholder="Nombre Completo" aria-label="Username" aria-describedby="basic-addon1">
                </div>
              <div class="form-group">
                <label for="city">City</label>
                <input type="text" name="city" class="form-control" id="city"  placeholder="Ciudad de residencia">
              </div>
                <div class="form-group">
                <label for="description">Memories</label>
                <input type="text" name="description" class="form-control" id="description" placeholder="Memorias del difunto">
              </div>
              <div class="form-group">
                <label for="birth">Born date</label>
                <input type="date" name="birth" class="form-control" id="birth" placeholder="fecha nacimineto">
              </div>

                <div class="form-group">
                <label for="defunct">Defunction date</label>
                <input type="date" name="defunct" class="form-control" id="defunct" placeholder="fecha Defuncion">
              </div>
                <div class="form-group">
                <label for="defunct">Public</label>
                    <select id="public" class="form-control" name="public">
                        <option value="Public">Public</option>
                        <option value="Private">Private</option>
                    </select>
              </div>
                <div class="form-group">
                <label for="defunct">URL Photo</label>
                <input type="url" name="url" class="form-control" id="url" placeholder="url">
              </div>
              <button type="submit" class="btn btn-primary align-self-center">Dar de Alta</button>
            </form>
    </div>
</div>
</body>
</html>