<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Memorial Covid-19</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <style>
  .main {
    background-color: #fffde7;
    text-align: center;
    border-style: groove;
  }
  body{
    background-color: #fff8e1;
  }
  </style>
</head>
<body style="background-image: url('https://www.publicdomainpictures.net/pictures/20000/velka/memorial-wall-wallpaper.jpg'); background-position: center; background-repeat: no-repeat; background-size: 100% 100%">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'principal' %}" >Memorial Covid-19</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
        {% if usuarioActivo.nombreUser != '' %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'principal' %}" >Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'altaMemorial' %}">Add Memorial</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'publicpage' %}">Public</a>
      </li>
    </ul>
    <form class="form-inline" action="{% url 'searcher' %}" method="POST">
            {% csrf_token %}
            <input class="form-control mr-sm-2" name="input_search" type="search" placeholder="Nombre" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Buscar</button>
          </form>
      {% endif %}
  </div>
</nav>
{% if alarma %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{alarma}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
</div>
{% endif %}
    <!-- Listado de peliculas -->
<div class="col-12 container vh-100">
      <div class="row d-flex flex-row flex-wrap align-items-center justify-content-center col-12 col-md-10 mx-auto" style="height: 92vh">
       <div style="width: 0.01%"></div>
       <!-- Aqui debe comenzar el bucle de Django que vaya recorriendo las peliculas en una lista de peliculas -->
          {% for memorials in listaPersonas %}
        <div class="col-12 col-md-2 rounded ficha mx-auto bg-dark" style="padding: 0; overflow: hidden; box-shadow: 0px 0px 5px 1px">
                <div>
                   <input type="image"  src="{{memorials.1.url}}" class="img-fluid bg-dark">
                </div>
                <div class="text-center bg-dark font-weight-bold" style="padding-top: 5px; padding-bottom: 5px">
                    <span class="text-white" style="text-shadow: 1px 1px 1px black">{{memorials.1.nombreDefu}}</span> <!-- Donde pone interestelar debe ir la etiqueta de Django que cargue el nombre de la pelicula -->
                </div>
        </div>
          {% endfor %}
        <!-- Aqui debe finalizar el bucle de Django -->
        <div style="width: 0.01%"></div>
      </div>
</div>

</body>


</html>